#toast {
    position: fixed;
    top: 64px;
    left: 0;
    font-weight: bold;
    transform: translate(-50%);
    background-color: green;
    color: #fff;
    padding: 16px;
    border-radius: 4px;
    text-align: center;
    z-index: 1;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    visibility: hidden;
    opacity: 0;
}

#toast.show {
    visibility: visible;
    animation: fadeInOut 3s;
}

#content {
    height: 800px;
}

.social a {
    margin: 0 30px 0 20px;
}

@keyframes fadeInOut {
    5%,
    95% {
        opacity: 1;
        left: 150px
    }
    15%,
    85% {
        opacity: 1;
        left: 100px
    }
}

@media only screen and (max-width: 600px) {
    .nav-wrapper a {
        width: max-content;
    }
}

@media only screen and (min-width: 600px) {
    .nav-wrapper a {
        width: max-content;
    }
}