#toast {
    position: fixed;
    top: 64px;
    left: 0;
    font-weight: bold;
    transform: translate(-50%);
    background-color: green;
    color: #fff;
    padding: 16px;
    border-radius: 4px;
    text-align: center;
    z-index: 1;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    visibility: hidden;
    opacity: 0;
}

#toast.show {
    visibility: visible;
    animation: fadeInOut 3s;
}

.btn {
    width: 200px
}